/*= VARIABLES
------------------------------*/

@mixin red {
	background: #ff0042;
} 

@mixin yellow {
	background: #fff073;
} 

@mixin dgray {
    background: #121212;
}

 @mixin transition($property, $time) {
     -webkit-transition: #{$property} #{$time};
     -moz-transition: #{$property} #{$time};
     transition: #{$property} #{$time};
}

$red : #ff0042;


/*= UTILITIES
------------------------------*/

.row.full-width { 
    width: 100%; 
    max-width: 100%; 
    z-index: 0;
}

.row {
	position: relative;
}

.full-secondary {
	@include dgray;
}

.intro-statement {
    @include yellow;
    margin-top: 150px;
    &.sm-top {
        margin-top: 0;
    }
}

h1 {
    margin: 0;
}

.fuzz-loader {
    display: block;
}


/*= HEADER
------------------------------*/
.primary-nav {
	ul {
		padding-top: 2.75em;
        margin-bottom: 0;
        @include transition('padding-top', '0.6s');
		li {
			display: inline-block;
			font-size: 1em;
			list-style: none;
			margin-right: 3em;
		}
	}
}
.shrinky .primary-nav ul {
    padding-top: 1em;
}
.header {
    @include red;
	padding-bottom: 3em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    @include transition('padding-bottom', '0.6s');
}
.header.shrinky {
    padding-bottom: 1em;
}

.header img.logo{
    width: 191px;
    @include transition('width', '0.6s');
}
.header.shrinky img.logo {
    width: 90px;
}
#svg-burger {
        float: right;
        padding: 20px;
}

.burger-nav {
    display: none;
}

/*=BURGER NAV
------------------------------*/
.burger-nav {
    background: #272727;
        li {
        background: #272727;
        border-bottom: 1px solid #111111;
        list-style: none;
        padding: 1em;
        @include transition('background', '0.3s');
        &:hover {
            background: $red;
        }
    }
    a {
        color: #fff;
        display: block;
        font-family: $header-font-family;
        font-size: 1.3em;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

/*=STATEMENT 
------------------------------*/
.statement {
    
	text-align: center;
	padding: 10em 0;
    
	h1 {
        font-size: 2.5em;
        letter-spacing: .02em;
        font-weight: 100;
        color: #121212;
	}

    h2 {
        font-size: 2em;
        letter-spacing: .02em;
        font-weight: 100;
        margin: 0;
    }
    
	.link {
		color: #c3b540;
	}

    h6 {
    color: #c3b540;
    }

}

.cycle-slideshow {
    display: none;
}
/*=QUOTES 
------------------------------*/
.quotes {
	color: #ffffff;
	text-align: center;
	padding: 5em 0;
    
	h3 {
        font-size: 1.4em;
        color: #ffffff;
	}
    
	.quote-author {
		color: #939393;
	}

}


/*=PORTFOLIO
------------------------------*/

.royalSlider {
    display:none;
}

#yellow-block {
    position: absolute;
    @include yellow;
    width: 190px;
    height: 15px;
    z-index: 3;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.latest-work {
    z-index: 1;
}

h5 {
    color: #ffffff;
    font-size: .8em;
}

.portfolio {
	padding-bottom: 3em;
	position: relative;
}
.portfolio-item {
	position: relative;
	text-align: center;
}

.proj-desc {
    height: 640px;
    background: #121212;
}

/*=BLOG
------------------------------*/

#dgrey-block {
    position: relative;
	@include dgray;
    width: 190px;
    height: 15px;
    z-index: 4;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: -15px;
}

.entry-meta {
    background: #fafafa;
    padding: 1%;
    font-size: .8em;
    margin: 2% 0 3% 0;
}

.entry-title {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: .02em;
}

.widget-title {
    font-size: 2em;
    font-weight: 100;
}

.page-header {
	@include yellow;
    font-size: .5em;
    padding: 20px;
    margin-bottom: 10px;
}

#primary {
    color: #121212;
}

#primary a {
    color: #121212;
}

#secondary {
    background: #fafafa;
    height: 100%;
    padding: 40px;
}

#secondary a {
    color: #121212;
}

ul li {
    list-style: none;
}

.vcard {
    margin:0;
    border: none;
}

.vcard a:hover {
    background: #121212;
}

.title {
    text-align: center;
}

.blog-contain {
	@include dgray;
    padding-top: 10px;
    position: relative;
    z-index: 2;
    &:hover .slide-control {
    opacity: .8;
    }
    h5 {
    font-size: 1.5em;
    }
}

.blog-contain-full {
    background: #fff;
    padding: 30px 0 30px 0;
    margin-top: 140px;
    }

/*.blog-item {
	float: left;
	position: relative;
	width: 20%;
}*/

.roller {
	background: #ff0042;
	height: 100%;	
	position: absolute;
	opacity: 0;
	top: 0;
	width: 100%;
}

.blog-item:hover .roller, .blog-item:hover .blog-title-contain, .team-title-contain {
	opacity: .8;
    -o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.blog-title-contain {
	opacity: 0;
	position: absolute;
	top: 15%;
    padding: 10%;
	width: 100%;
	text-align: center;
}

#insta-next, #insta-next-katy {
background: url(../images/right_inactive.png) no-repeat center center black;
right: 0;
-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
transition: background 0.3s;
}

#insta-prev, #insta-prev-katy {
background: url(../images/left_inactive.png) no-repeat center center black;
left: 0;
-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
transition: background 0.3s;
}

.blog-item img {
	width: 100% !important;
}

.slide-control {
position: absolute;
height: 100%;
width: 60px;
background: #fff;
opacity: 0;
top: 0;
z-index: 999;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
transition: opacity 0.3s;
}
.slide-control a {
display: inline-block;
width: 100%;
height: 100%;
text-indent: -9999px;
}


/*=TEAM
------------------------------*/

#dred-block {
    position: absolute;
    @include dgray;
    width: 190px;
    height: 15px;
    z-index: 3;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.brands {
    padding: 2em 0;
    text-align: center;
    background: #fafafa;
}

.workwithus {
        
    @include yellow;
	text-align: center;
	padding: 5em 0;
    
	h1 {
        font-size: 2.5em;
        letter-spacing: .02em;
        font-weight: 100;
        color: #121212;
	}

    h2 {
        font-size: 2em;
        letter-spacing: .02em;
        font-weight: 100;
        margin: 0;
    }
    
	.link {
		color: #c3b540;
	}

    h6 {
    color: #c3b540;
    }

}

.column, .columns {
    padding: 0;
}

.team-member img {
	width: 100%;
}

h2 {
    color: #fff;
}

.team {
    letter-spacing: .04em;
    background: #fafafa;
	clear: both;
}

.team h3 {
    color: #777;
    font-size: 1em;
}

.team h1 {
    color: #121212;
    letter-spacing: .04em;
    font-weight: 100;
    margin-bottom: 10px;
}

.team-member:hover .roller, .team-member:hover .team-title-contain {
	opacity: .8;
    -o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.team-title-contain {
	opacity: 0;
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
}


/*=CONTACT
------------------------------*/
.contact {
	clear: both;
	padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/contact.jpg') no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.fuzz-black {
    background: url('../images/fuzz-black.png') no-repeat;
    width: 191px;
    height: 102px;
    padding-bottom: 20%;
}

h3.form-head {
	color: #ffffff;
}

.wpcf7 {

	h3 {
		color: #121212;
		font-size: 1.8em;
		text-align: left;
        padding-left: 3.7em;
	}
	p {
		margin: 0;
	}
	label {
		color: #121212;
		display: inline;
		width: 18%;
		line-height: 1;
		padding-top: .5em;
		font-size: 1em;
		padding-right: 2%;
		float: left;
		text-align: right;
		clear: both;
	}
	input[type='text'], input[type='text-area'], input[type='email'], textarea {
        color: #fff;
		background: #1a1a1a;
        border: none;
        opacity: .7;
		width: 80%;
        padding: 3%;
	}
    
    textarea {
        height: 50%;
    }
    
	input[type="submit"]{
		border: none;
        @include yellow;
		color: #121212;
		float: right;
		font-size: 1em;
		width: 80%;
        padding: 2%;
		margin-right: .7em;
    -o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	}
    
    input[type="submit"]:hover {
        opacity: .5;
    }
}

/*=FOOTER
------------------------------*/

.footertype {
    margin-top: 20%;
    font-size: .8em;
    text-align: center;
}


/*=MEDIA QUERIES
-------------------------------*/

@media only screen 
and (max-width : 768px) {
    .logo {
        margin: 10px;
    }
}
