@-webkit-keyframes pulse { 0% {background-color: #FF0042;} 25% {background-color: #FF4442;} 50% {background-color: #FF6842;} 75% {background-color: #FF9142;} 100% {background-color: #FFB742;} } body { margin:0; padding:0; background: #fff000 url('noise.png') repeat; -webkit-animation: pulse 40s infinite alternate; }

#logo img {
	max-width: 100%;
}

#logo {
	width: 600px;
	height: 206px;
	max-width: 80%;
	margin: 150px auto;
}

#border {
	margin: 0;
	padding: 0;
}

#north, #south, #east, #west {
	background: #fff;
	position: fixed;
}

#north, #south {
	height: 20px;
	left: 0;
	right: 0;
}

#east, #west {
	width: 20px;
	top:0;
	bottom:0;
}

#north {
	top: 0;
}

#south {
	bottom: 0;
}

#east {
	right: 0;
}

#west {
	left: 0;
}