/*
Theme Name: Fuzz
Description: New Interactive and Motion
Version: 1
Author: Nick Woods
*/


/* Begin Header */

#comingsoon {
	width: 1600px;
	height: 959px;
	background: url(http://www.fuzzinteractive.com/wp-content/themes/fuzz/images/fuzzcomingsoon.jpg) top center no-repeat;
	margin: 0px auto;
	}

#header	{
	height: 70px;
	}

#header hr {
	border:0;
	margin: 12px 0 0 0;
	background: #eee;
	height: 1px;
	}

#header img {
	border: 0;
	margin: 15px 0 0 0;
	}

.sym img {
	margin: 0 5px 0 0px;
	border: 0;
	}

.sym img:hover {
	border: 0;
	}

#head	{
	width: 1010px;
	margin: 0 auto;
	}

img	{
	padding: 3px;
	border: solid 1px #ccc;
	}

img:hover	{
	border: solid 1px #8fc8f9;
	}

/* End Header */

/* Begin Body */

body	{
	margin: 0;
	padding: 0;
	background: #000;
	font: normal 12px helvetica, arial, sans-serif;
	color: #3a3a3a;
	}

#page {
	width: 1010px;
	margin: 30px auto;
	}

#sidebarleft {
	width: 80px;
        padding: 0;
	float: left;
	}

#sidebarleft ul {
        padding: 0;
	}

#sidebarleft ul li {
        padding:0 0 5px 0;
	}

#column {
	width: 180px;
	float: left;
	}

#columnwrap {
	}

.xoxo.blogroll {
	padding: 0px;
	}

#content {
	width: 850px;
	float: left;
	}

#results {
	width: 180px;
	margin: 10px 10px 10px 0px;
	float: left;
	}

.thumb img	{
	opacity: .7;
	width: 180px;
	}

.thumb img:hover	{
	opacity: 1;
	}

.entry	{
	width: 600px;
	}

.post	{
	width: 180px;
	margin: 0 0 30px 30px;
	float: left;
	}

.more-link {
	}

.post2	{
	padding: 0 10px;
	float: left;
	}

.postmetadata {
	display: none;
	}

.screen-reader-text {
	display: none;
	}

/* End Body */

/* Begin Buttons */

.pat	{
	background: #222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	padding: 5px;
	color: #c8c8c8;
	}

.pat:hover	{
	background: #000;
	color: #ccc;
	}

/* End Buttons */

/* Begin Typography */

li	{
	list-style:none;
	}

a	{
	text-decoration: none;
	color: #3a3a3a;
	}

p	{
	padding: 0;
	line-height: 1.5em;
	}

a:hover	{
	color: #8fc8f9;
	}

.post2 h2 {
	font: normal 12px helvetica, sans-serif;
	}

.post h2 {
	margin: 10px 0 0 0;
	}

.post h2 a {
	font: normal 12px helvetica, sans-serif;
	padding: 5px 30px 0px 0;
	text-transform: uppercase;
	}

.post h2 a:hover {
	color: #8fc8f9;
	}

.post2 h4 {
	text-transform: uppercase;
	}

.entry a {
	font: normal 10px helvetica, sans-serif;
	}

#sidebarleft h4 {
	display:none;
	}	

#sidebarright h4 {
	display:none;
	}

h1	{
	}

h2	{
	margin: 0;
	}

h3	{
	font: normal 12px helvetica, sans-serif;
	color: #ccc;
	margin:0;
	}

h4	{
	}

h5	{
	}

/* End Typography */

/* Begin Footer */

#footer	{
	height: 70px;
	border-top: solid 5px #eee;
	clear: both;
	}

#footcontent {
	width: 1010px;
	margin: 20px auto;
	}

#footcontent  {
	color: #ccc;
	}

#footcontent a {
	color: #ccc;
	}

#footcontent a:hover {
	color: #8fc8f9;
	}

/* End Footer */

/* Begin Functions */

#load {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(images/loading.gif);
	width: 43px;
	height: 11px;
	text-indent: -9999em;
}

/* End Functions */
